.custom-card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.custom-header {
  background-color: #f97316;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

 
.teja p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 12px 10px;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
}

.teja p:last-child {
  border-bottom: none;
}
