  *{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;

   

  }

 
.content-area {
  flex: 1;
  padding: 20px;
}
.header {
  display: flex;
  align-items: center;  
  padding: 10px 20px;
}

.menu-btn {
  font-size: 24px;
  margin-right: 20px;
  background: none;
  border: none;
  color: #f97316;
  cursor: pointer;
} 


.sidebar { 
  padding-top: 20px;
  /* padding-bottom: 20px; */
  height: auto;
  transition: width 0.3s;
  overflow-y: scroll;
}

.sidebar.collapsed {
  width: 60px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 0px 16px;
  margin: 3px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 15px;

}

.menu-item .icon {
  font-size: 18px;
  margin-right: 12px;
}

.menu-item .label {
  font-size: 16px;
  font-weight: 500;
}

.menu-item:hover,
.menu-item.active {
  background-color: #f97316; /* red hover/active */
  color: #fff;
}
.sidebar-wrapper {
  background-color: #000000;
  color: white;
  height: 100vh;
  overflow: hidden;
  white-space: nowrap;
}

.main-wrapper {
  height: 100vh;
  overflow-y: auto;
}

.sidebar .menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.sidebar .menu-item:hover,
.sidebar .menu-item.active {
  background-color: #f97316;
  font-weight: bold;
}

.sidebar .icon {
  margin-right: 10px;
}

.sidebar.collapsed .label {
  display: none;
  
}

.header-container {
  border-bottom: 1px solid #e5e5e5;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
}

.section-box {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
}


.DesktopView1010{
    display: block  !important; 
  }
  .MobileView1010{
    display: none !important;
  }

   
  .DeskTopView{
    display: block;
  }
  .MobileView{
    display: none;
    margin-top: 25px !important;
  } 
  

  @media (max-width:768px){
    .DeskTopView{
      display: none;
    }
    .sidebar{
      display: none;
    }
    .MobileView{
      display: block;
    }
    .DesktopView1010{
      display: none !important;
    }
    .MobileView1010{
      display: block !important;
    }
     
  }  
 





  .submenu-container {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.8s ease; 
  padding-left: 20px;
}

.submenu-container.open {
  max-height: 500px; /* enough to show all items */
  opacity: 1;
}

.submenu-item {
  padding: 8px 10px;
  font-size: 14px;
  color: #191919;
  transition: color 0.8s ease;
  cursor: pointer;
}

.submenu-item:hover {
  color: #f97316;
  transition: all 0.6s ease;
  font-weight: 600;
}

.rotate-icon {
  display: inline-block;
  transition: transform 0.7s ease;
}

.rotate-icon.rotate {
  transform: rotate(180deg);
}
 
 .wallet-title {
  background: #f4f4f4;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
}

.wallet-table-header {
  background: linear-gradient(to right, #00f2fe, #4facfe) !important;
}

@media (max-width: 768px) {
  .wallet-title {
    font-size: 16px;
  }

  .table {
    font-size: 14px;
  }
}


.dropdown-toggle::after{
  opacity: 0;
  
}