.deposit-request-container {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
}

.deposit-header {
  display: flex;
  align-items: center;
}   

.table-header {
  background: linear-gradient(to right, #00f0ff, #00ffae);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.table-header th {
  padding: 15px;
}

input::placeholder {
  color: #aaa;
}
.complete-deposit-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
}

 

.table-header {
  background: linear-gradient(to right, #00f0ff, #00ffae);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.table-header th {
  padding: 15px;
}

.table td {
  color: #000;
}
